* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(background/image.gif);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
}

.nowPlaying {
    color: white;
}
